.bg-secondary {
    background-color: #2c3e50 !important;
};
nav{
    z-index: 999999;
}
.navbar h4{
    height: 12% !important;
}
.nav-link{
    transition: all 0.3s;
}
 .active{
    background-color: #1abc9c !important;
}
.hov:hover{
  color:#1abc9c !important;
}
.navbar-toggler{
    padding-right: 4rem !important;
    color: white;
    height: 3rem;
    width: 4rem;
    background-color: #1abc9c;
}